html, body, div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset,
legend, input, textarea, p, blockquote,
th, td, hr, button, article, aside, details,
figcaption, figure, footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: Monospace;
  background-color: #000;
  color: #fff;
  overflow: hidden; }
  html .canvas_div, body .canvas_div {
    width: 100%;
    height: 100%;
    position: relative; }
    html .canvas_div canvas, body .canvas_div canvas {
      position: absolute;
      top: 0px;
      left: 0px; }
  html .hotSpot_div, body .hotSpot_div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 8; }
    html .hotSpot_div .hotSpot_ul, body .hotSpot_div .hotSpot_ul {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 0;
      overflow: hidden; }
      html .hotSpot_div .hotSpot_ul .hotSpot_li, body .hotSpot_div .hotSpot_ul .hotSpot_li {
        position: absolute;
        opacity: 0;
        list-style-type: none; }
        html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div {
          position: relative; }
          html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .icon, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .icon {
            display: block; }
          html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .icon_hotspot_span, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .icon_hotspot_span {
            position: absolute;
            top: -25px;
            left: -25px;
            width: 52px;
            height: 52px;
            cursor: pointer; }
            html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .icon_hotspot_span .icon_hotspot_center, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .icon_hotspot_span .icon_hotspot_center {
              width: 100%;
              height: 100%;
              position: relative; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .icon_hotspot_span .icon_hotspot_center .icon_hotspot_back, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .icon_hotspot_span .icon_hotspot_center .icon_hotspot_back {
                border-radius: 50px;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 10;
                background: url("../../../img/threed/icon_hotspot_pointbg.png") no-repeat;
                background-position: 0 0; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .icon_hotspot_span .icon_hotspot_center .icon_hotspot_circle, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .icon_hotspot_span .icon_hotspot_center .icon_hotspot_circle {
                width: 22px;
                height: 22px;
                position: absolute;
                top: 15px;
                left: 15px;
                z-index: 11;
                background: url("../../../img/threed/icon_hotspot_point.png") no-repeat;
                background-size: 100% 100%; }
          html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div {
            display: none;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 20;
            background-color: #fafafa;
            color: #000; }
            html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .video_div, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .video_div {
              margin-top: 0;
              display: block;
              width: 100%;
              height: 180px;
              position: relative; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .video_div i, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .video_div i {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 28px;
                height: 22px;
                background: url("../../../img/threed/icon_video_full.png") no-repeat;
                background-size: 57px 22px;
                background-position: 0 0;
                cursor: pointer; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .video_div i:active, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .video_div i:active {
                background-position: -29px 0; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .video_div iframe, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .video_div iframe {
                width: 100%;
                height: 100%; }
            html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group {
              margin: 16px 0;
              width: 100%;
              height: 30px;
              position: relative; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group audio, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group audio {
                opacity: 0; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding: 0px 10px;
                overflow: hidden; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .icon.icon_audio, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .icon.icon_audio {
                  width: 30px;
                  height: 30px;
                  float: left;
                  cursor: pointer; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .icon.icon_audio[status="on"], body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .icon.icon_audio[status="on"] {
                  background: url("../../../img/threed/icon_audio_on.png") no-repeat;
                  background-size: 100% 100%; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .icon.icon_audio[status="off"], body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .icon.icon_audio[status="off"] {
                  background: url("../../../img/threed/icon_audio_off.png") no-repeat;
                  background-size: 100% 100%; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul {
                  height: 30px;
                  float: left;
                  padding-left: 14px; }
                  html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul .audio_name, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul .audio_name {
                    display: block;
                    width: 100%;
                    height: 24px; }
                    html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul .audio_name .audio_title, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul .audio_name .audio_title {
                      height: 16px;
                      width: 60%;
                      float: left;
                      font-size: 14px;
                      line-height: 16px;
                      color: #2C2C2C;
                      font-weight: bold; }
                    html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul .audio_name .audio_time, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul .audio_name .audio_time {
                      height: 16px;
                      width: 40%;
                      float: right;
                      font-size: 12px;
                      line-height: 16px;
                      text-align: right;
                      color: #6b6b6b; }
                  html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul .audio_process, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul .audio_process {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #b2b2b2; }
                    html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul .audio_process > div, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .audio_group .audio_div .audio_process_ul .audio_process > div {
                      height: 2px;
                      background-color: #000000; }
            html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .hotSpot_discrible_group, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .hotSpot_discrible_group {
              padding: 0 10px; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .hotSpot_discrible_group > div, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .hotSpot_discrible_group > div {
                width: 100%;
                padding: 8px 13px; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .hotSpot_discrible_group > div > span.hotSpot_title, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .hotSpot_discrible_group > div > span.hotSpot_title {
                  display: block;
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 16px;
                  margin-bottom: 10px;
                  color: #010101; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .hotSpot_discrible_group > div > span.hotSpot_discrible, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div .hotSpot_discrible_group > div > span.hotSpot_discrible {
                  display: block;
                  font-size: 12px;
                  line-height: 20px;
                  color: #6b6b6b; }
          html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow {
            width: 300px; }
            html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .audio_group .audio_process_ul, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .audio_group .audio_process_ul {
              width: 250px; }
            html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow > .hotSpot_discrible_group, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow > .hotSpot_discrible_group {
              width: 100%;
              border: none; }
            html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow > .img_div, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow > .img_div {
              width: 300px;
              height: 300px;
              position: relative;
              cursor: zoom-in; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow > .img_div img, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow > .img_div img {
                width: 100%;
                height: 100%; }
            html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce {
              width: 100%;
              height: 120px;
              padding: 0 10px; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce > .img_div, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce > .img_div {
                width: 120px;
                height: 120px;
                float: left;
                position: relative;
                cursor: zoom-in; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce > .img_div img, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce > .img_div img {
                  width: 100%;
                  height: 100%; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce .hotSpot_discrible_group, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce .hotSpot_discrible_group {
                width: 160px;
                height: 120px;
                float: right;
                margin: 0;
                padding: 0;
                overflow-y: scroll; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce .hotSpot_discrible_group > div, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce .hotSpot_discrible_group > div {
                  padding: 8px 0 0 10px;
                  height: 120px; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce .hotSpot_discrible_group::-webkit-scrollbar, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce .hotSpot_discrible_group::-webkit-scrollbar {
                width: 2px;
                height: 16px;
                background-color: #F5F5F5; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce .hotSpot_discrible_group::-webkit-scrollbar-track, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce .hotSpot_discrible_group::-webkit-scrollbar-track {
                background-color: #d5d5d5; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce .hotSpot_discrible_group::-webkit-scrollbar-thumb, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_narrow .hotSpot_introduce .hotSpot_discrible_group::-webkit-scrollbar-thumb {
                background-color: #2c2c2c; }
          html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide {
            width: 480px; }
            html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .audio_group .audio_process_ul, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .audio_group .audio_process_ul {
              width: 420px; }
            html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce {
              width: 100%;
              height: 180px; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce > .img_div, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce > .img_div {
                width: 180px;
                height: 100%;
                float: left;
                position: relative;
                cursor: zoom-in; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce > .img_div img, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce > .img_div img {
                  width: 100%;
                  height: 100%; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce .hotSpot_discrible_group, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce .hotSpot_discrible_group {
                width: 300px;
                height: 100%;
                float: right;
                margin: 0;
                padding: 10px; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce .hotSpot_discrible_group > div, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce .hotSpot_discrible_group > div {
                  border: none;
                  padding: 10px 6px 10px 6px;
                  height: 160px;
                  overflow-y: scroll; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce .hotSpot_discrible_group > div::-webkit-scrollbar, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce .hotSpot_discrible_group > div::-webkit-scrollbar {
                  width: 2px;
                  height: 16px;
                  background-color: #F5F5F5; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce .hotSpot_discrible_group > div::-webkit-scrollbar-track, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce .hotSpot_discrible_group > div::-webkit-scrollbar-track {
                  background-color: #d5d5d5; }
                html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce .hotSpot_discrible_group > div::-webkit-scrollbar-thumb, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce .hotSpot_discrible_group > div::-webkit-scrollbar-thumb {
                  background-color: #2c2c2c; }
              html .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce iframe, body .hotSpot_div .hotSpot_ul .hotSpot_li .hotSpot_all_div .hotSpot_center_div.hotSpot_center_wide .hotSpot_introduce iframe {
                width: 300px;
                height: 100%;
                float: right; }
      html .hotSpot_div .hotSpot_ul .hotSpot_li.active, body .hotSpot_div .hotSpot_ul .hotSpot_li.active {
        opacity: 1; }
        html .hotSpot_div .hotSpot_ul .hotSpot_li.active .icon_hotspot_span .icon_hotspot_center .icon_hotspot_back, body .hotSpot_div .hotSpot_ul .hotSpot_li.active .icon_hotspot_span .icon_hotspot_center .icon_hotspot_back {
          z-index: 30; }
        html .hotSpot_div .hotSpot_ul .hotSpot_li.active .icon_hotspot_span .icon_hotspot_center .icon_hotspot_circle, body .hotSpot_div .hotSpot_ul .hotSpot_li.active .icon_hotspot_span .icon_hotspot_center .icon_hotspot_circle {
          z-index: 31; }
        html .hotSpot_div .hotSpot_ul .hotSpot_li.active .hotSpot_center_div, body .hotSpot_div .hotSpot_ul .hotSpot_li.active .hotSpot_center_div {
          display: block; }
  html .loading_div, body .loading_div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding-top: 0px; }
    html .loading_div .loading_center, body .loading_div .loading_center {
      width: 240px;
      height: 3px;
      border-radius: 10px;
      margin: 0 auto;
      background-color: rgba(0, 0, 0, 0.2); }
      html .loading_div .loading_center .loading_progress, body .loading_div .loading_center .loading_progress {
        height: 100%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.6); }
  html .screen_full_div, body .screen_full_div {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding-top: 1px; }
    html .screen_full_div .screen_center_div, body .screen_full_div .screen_center_div {
      width: 900px;
      height: 540px;
      margin: 100px auto;
      position: relative; }
      html .screen_full_div .screen_center_div .screen_bg_color, body .screen_full_div .screen_center_div .screen_bg_color {
        width: 100%;
        height: 100%; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close, body .screen_full_div .screen_center_div .screen_bg_color .icon_close {
          position: absolute;
          cursor: pointer; }
      html .screen_full_div .screen_center_div .screen_bg_color.iframe_bg, body .screen_full_div .screen_center_div .screen_bg_color.iframe_bg {
        padding: 40px 150px; }
      html .screen_full_div .screen_center_div .screen_bg_color.img_bg, body .screen_full_div .screen_center_div .screen_bg_color.img_bg {
        padding: 40px 220px; }

/* iphone4,iphone5 */
@media screen and (max-width: 330px) {
  html .screen_full_div, body .screen_full_div {
    background-color: rgba(0, 0, 0, 0.4); }
    html .screen_full_div .screen_center_div, body .screen_full_div .screen_center_div {
      width: 100%;
      height: 320px;
      margin: 100px auto; }
      html .screen_full_div .screen_center_div .screen_bg_color, body .screen_full_div .screen_center_div .screen_bg_color {
        width: 100%;
        height: 100%; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close, body .screen_full_div .screen_center_div .screen_bg_color .icon_close {
          width: 14px;
          height: 14px;
          background: url("../../../img/threed/icon_remove_mobile.png") no-repeat;
          background-size: 29px 14px;
          background-position: 0 0; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close:hover, body .screen_full_div .screen_center_div .screen_bg_color .icon_close:hover {
          background-position: -15px 0; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close:active, body .screen_full_div .screen_center_div .screen_bg_color .icon_close:active {
          background-position: 0 0; }
        html .screen_full_div .screen_center_div .screen_bg_color iframe, body .screen_full_div .screen_center_div .screen_bg_color iframe {
          width: 100%;
          height: 100%; }
        html .screen_full_div .screen_center_div .screen_bg_color img, body .screen_full_div .screen_center_div .screen_bg_color img {
          display: block;
          width: 100%;
          height: 100%;
          margin: auto; }
      html .screen_full_div .screen_center_div .screen_bg_color.iframe_bg, body .screen_full_div .screen_center_div .screen_bg_color.iframe_bg {
        padding: 70px 0px; }
        html .screen_full_div .screen_center_div .screen_bg_color.iframe_bg .icon_close, body .screen_full_div .screen_center_div .screen_bg_color.iframe_bg .icon_close {
          right: 10px;
          top: 44px; }
      html .screen_full_div .screen_center_div .screen_bg_color.img_bg, body .screen_full_div .screen_center_div .screen_bg_color.img_bg {
        padding: 0px 0px; }
        html .screen_full_div .screen_center_div .screen_bg_color.img_bg .icon_close, body .screen_full_div .screen_center_div .screen_bg_color.img_bg .icon_close {
          right: 10px;
          top: -24px; } }
/* iphone6 */
@media screen and (min-width: 331px) and (max-width: 375px) {
  html .screen_full_div, body .screen_full_div {
    background-color: rgba(0, 0, 0, 0.4); }
    html .screen_full_div .screen_center_div, body .screen_full_div .screen_center_div {
      width: 100%;
      height: 375px;
      margin: 100px auto; }
      html .screen_full_div .screen_center_div .screen_bg_color, body .screen_full_div .screen_center_div .screen_bg_color {
        width: 100%;
        height: 100%; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close, body .screen_full_div .screen_center_div .screen_bg_color .icon_close {
          width: 14px;
          height: 14px;
          background: url("../../../img/threed/icon_remove_mobile.png") no-repeat;
          background-size: 29px 14px;
          background-position: 0 0; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close:hover, body .screen_full_div .screen_center_div .screen_bg_color .icon_close:hover {
          background-position: -15px 0; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close:active, body .screen_full_div .screen_center_div .screen_bg_color .icon_close:active {
          background-position: 0 0; }
        html .screen_full_div .screen_center_div .screen_bg_color iframe, body .screen_full_div .screen_center_div .screen_bg_color iframe {
          width: 100%;
          height: 100%; }
        html .screen_full_div .screen_center_div .screen_bg_color img, body .screen_full_div .screen_center_div .screen_bg_color img {
          display: block;
          width: 100%;
          height: 100%;
          margin: auto; }
      html .screen_full_div .screen_center_div .screen_bg_color.iframe_bg, body .screen_full_div .screen_center_div .screen_bg_color.iframe_bg {
        padding: 70px 0px; }
        html .screen_full_div .screen_center_div .screen_bg_color.iframe_bg .icon_close, body .screen_full_div .screen_center_div .screen_bg_color.iframe_bg .icon_close {
          right: 10px;
          top: 44px; }
      html .screen_full_div .screen_center_div .screen_bg_color.img_bg, body .screen_full_div .screen_center_div .screen_bg_color.img_bg {
        padding: 0px 0px; }
        html .screen_full_div .screen_center_div .screen_bg_color.img_bg .icon_close, body .screen_full_div .screen_center_div .screen_bg_color.img_bg .icon_close {
          right: 10px;
          top: -24px; } }
/* iphone6Plus */
@media screen and (min-width: 376px) and (max-width: 479px) {
  html .screen_full_div, body .screen_full_div {
    background-color: rgba(0, 0, 0, 0.4); }
    html .screen_full_div .screen_center_div, body .screen_full_div .screen_center_div {
      width: 100%;
      height: 414px;
      margin: 100px auto; }
      html .screen_full_div .screen_center_div .screen_bg_color, body .screen_full_div .screen_center_div .screen_bg_color {
        width: 100%;
        height: 100%; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close, body .screen_full_div .screen_center_div .screen_bg_color .icon_close {
          width: 14px;
          height: 14px;
          background: url("../../../img/threed/icon_remove_mobile.png") no-repeat;
          background-size: 29px 14px;
          background-position: 0 0; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close:hover, body .screen_full_div .screen_center_div .screen_bg_color .icon_close:hover {
          background-position: -15px 0; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close:active, body .screen_full_div .screen_center_div .screen_bg_color .icon_close:active {
          background-position: 0 0; }
        html .screen_full_div .screen_center_div .screen_bg_color iframe, body .screen_full_div .screen_center_div .screen_bg_color iframe {
          width: 100%;
          height: 100%; }
        html .screen_full_div .screen_center_div .screen_bg_color img, body .screen_full_div .screen_center_div .screen_bg_color img {
          display: block;
          width: 100%;
          height: 100%;
          margin: auto; }
      html .screen_full_div .screen_center_div .screen_bg_color.iframe_bg, body .screen_full_div .screen_center_div .screen_bg_color.iframe_bg {
        padding: 70px 0px; }
        html .screen_full_div .screen_center_div .screen_bg_color.iframe_bg .icon_close, body .screen_full_div .screen_center_div .screen_bg_color.iframe_bg .icon_close {
          right: 10px;
          top: 44px; }
      html .screen_full_div .screen_center_div .screen_bg_color.img_bg, body .screen_full_div .screen_center_div .screen_bg_color.img_bg {
        padding: 0px 0px; }
        html .screen_full_div .screen_center_div .screen_bg_color.img_bg .icon_close, body .screen_full_div .screen_center_div .screen_bg_color.img_bg .icon_close {
          right: 10px;
          top: -24px; } }
/* ipad*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  html .screen_full_div, body .screen_full_div {
    background-color: rgba(0, 0, 0, 0.2); }
    html .screen_full_div .screen_center_div, body .screen_full_div .screen_center_div {
      width: 100%;
      height: 540px;
      margin: 100px auto; }
      html .screen_full_div .screen_center_div .screen_bg_color, body .screen_full_div .screen_center_div .screen_bg_color {
        width: 100%;
        height: 100%; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close, body .screen_full_div .screen_center_div .screen_bg_color .icon_close {
          width: 14px;
          height: 14px;
          right: 20px;
          top: -34px;
          background: url("../../../img/threed/icon_remove_mobile.png") no-repeat;
          background-size: 29px 14px;
          background-position: 0 0; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close:hover, body .screen_full_div .screen_center_div .screen_bg_color .icon_close:hover {
          background-position: -15px 0; }
        html .screen_full_div .screen_center_div .screen_bg_color .icon_close:active, body .screen_full_div .screen_center_div .screen_bg_color .icon_close:active {
          background-position: 0 0; }
        html .screen_full_div .screen_center_div .screen_bg_color iframe, body .screen_full_div .screen_center_div .screen_bg_color iframe {
          width: 100%;
          height: 100%; }
        html .screen_full_div .screen_center_div .screen_bg_color img, body .screen_full_div .screen_center_div .screen_bg_color img {
          display: block;
          width: 540px;
          height: 100%;
          margin: auto; }
      html .screen_full_div .screen_center_div .screen_bg_color.iframe_bg, body .screen_full_div .screen_center_div .screen_bg_color.iframe_bg {
        padding: 0px 0px; }
      html .screen_full_div .screen_center_div .screen_bg_color.img_bg, body .screen_full_div .screen_center_div .screen_bg_color.img_bg {
        padding: 0px 0px; } }
/* mac*/
@media screen and (min-width: 993px) {
  html .screen_full_div .screen_center_div, body .screen_full_div .screen_center_div {
    width: 1000px;
    height: 586px;
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0.12); }
    html .screen_full_div .screen_center_div .screen_bg_color, body .screen_full_div .screen_center_div .screen_bg_color {
      width: 100%;
      height: 100%; }
      html .screen_full_div .screen_center_div .screen_bg_color .icon_close, body .screen_full_div .screen_center_div .screen_bg_color .icon_close {
        width: 14px;
        height: 14px;
        right: 20px;
        top: 20px;
        background: url("../../../img/threed/icon_remove_pc.png") no-repeat;
        background-size: 29px 14px;
        background-position: 0 0; }
      html .screen_full_div .screen_center_div .screen_bg_color .icon_close:hover, body .screen_full_div .screen_center_div .screen_bg_color .icon_close:hover {
        background-position: -15px 0; }
      html .screen_full_div .screen_center_div .screen_bg_color .icon_close:active, body .screen_full_div .screen_center_div .screen_bg_color .icon_close:active {
        background-position: 0 0; }
      html .screen_full_div .screen_center_div .screen_bg_color iframe, body .screen_full_div .screen_center_div .screen_bg_color iframe {
        width: 100%;
        height: 100%; }
      html .screen_full_div .screen_center_div .screen_bg_color img, body .screen_full_div .screen_center_div .screen_bg_color img {
        width: 100%;
        height: 100%; }
    html .screen_full_div .screen_center_div .screen_bg_color.iframe_bg, body .screen_full_div .screen_center_div .screen_bg_color.iframe_bg {
      padding: 58px 108px; }
    html .screen_full_div .screen_center_div .screen_bg_color.img_bg, body .screen_full_div .screen_center_div .screen_bg_color.img_bg {
      padding: 58px 265px; } }
