<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数字文物</title>

    <meta name="csrf-param" content="_csrf-backend">
    <meta name="csrf-token" content="6aR7WJcoWuwmHZ3bvNst-ZX2MaPNCBIHv9c2B4BhaFe8wwkt021u1WJW55Hpr0q02Z1f7pdcRE3rhXBjtD46YQ==">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">

    <link rel="stylesheet" type="text/css" href="../../static/css/common/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/common/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/common/ladda-themeless.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/mobile/common.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/mobile/cultural-relics.css">
    <link rel="stylesheet" type="text/css" href="../../static/js/threed/mobile/threed-hotspot-father.css">
    <script>
        var frontend_cdn_url = "../../../static/";
    </script>
</head>
<body>

<div class="screen_div">
    <iframe id="iframe" src="../../static/js/threed/mobile/threed-model-browser.html"></iframe>

    <a class="logo_div" href="index.html"></a>
    <div class="return_btn"><a href="/"></a></div>

    <div class="info_div"></div>
    <ul class="btn_group">
        <li class="reset_div">   <i></i> <strong>重置</strong></li>
        <li class="menu_btn">    <i></i> <strong>详情</strong></li>
        <li class="hotspot_btn"> <i></i> <strong>热点</strong></li>
        <li class="measure_btn"> <i></i> <strong>尺寸</strong></li>
        <li class="code_btn">    <i></i> <strong>扫码分享</strong></li>
        <li class="back_btn" backid=""><i></i> <strong>背景</strong></li>
    </ul>
    <ul class="measure_group">
        <li class="active" status="x"><i></i></li>
        <li status="y"><i></i></li>
        <li status="z"><i></i></li>
    </ul>
    <div class="center_div">
        <div class="contain_div">
        </div>
    </div>

    <!-- 弹出样式 -->
    <div class="cultural_relics_div">
        <div class="cultural_relics_center">
            <i class="icon icon_remove"></i>
            <div class="center_main">
                <p class="center_title"></p>
                <p class="center_date"></p>
                <ul class="tag_ul">
                    <li name="style">
                        <label>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：</label>
                        <span></span>
                    </li>
                    <li name="material">
                        <label>材&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;质：</label>
                        <span></span>
                    </li>
                    <li name="source">
                        <label>出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;处：</label>
                        <span></span>
                    </li>
                    <li name="purpose">
                        <label>用&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;途：</label>
                        <span></span>
                    </li>
                    <li name="level">
                        <label>级&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label>
                        <span></span>
                    </li>
                    <li name="volume">
                        <label>尺&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寸：</label>
                        <span></span>
                    </li>
                </ul>
            </div>
            <div class="center_discrible">
                <span class="discrible_title">文物故事：</span>
                <span class="discrible_center"></span>
            </div>
        </div>
    </div>
    <div class="qrcode_div">
        <div class="qrcode_center_div">
            <i class="icon icon_arrow_white"></i>
            <img src="https://gss0.bdstatic.com/94o3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=7bcb659c9745d688a302b5a29cf91a23/2934349b033b5bb571dc8c5133d3d539b600bc12.jpg" alt="">
        </div>
    </div>
</div>
<script src="../../static/js/common/jquery.min.js"></script>
<script src="../../static/js/common/ajax.js"></script>
<script src="../../static/js/common/common.js"></script>

<script src="../../static/js/threed/mobile/threed-hotspot-father.js"></script>

<script src="../../static/js/mobile/cultural-relics.js"></script>
<script>
    $(".screen_div").on('touchmove',function(e){
        e.preventDefault();
    });
</script>
</body>
</html>