<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <meta name="csrf-param" content="_csrf-backend">
    <meta name="csrf-token" content="6aR7WJcoWuwmHZ3bvNst-ZX2MaPNCBIHv9c2B4BhaFe8wwkt021u1WJW55Hpr0q02Z1f7pdcRE3rhXBjtD46YQ==">

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">

    <link rel="stylesheet" type="text/css" href="../../static/css/common/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/common/bootstrap-select.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/common/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/common/ladda-themeless.min.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/mobile/common.css">

    <link rel="stylesheet" type="text/css" href="../../static/css/mobile/index.css">
</head>
<body>
<section>
    <div class="banner">
        <div class="contain_div">
            <div class="search_div">
                <input type="text" class="search_input">
                <button type="button" class="icon icon-search"></button>
            </div>
        </div>
    </div>
    <div class="tab_div">
        <div class="contain_div">
        </div>
    </div>
    <div class="culturalrelic_div">
        <div class="contain_div">
            <ul class="culturalrelic_list" page_id=""></ul>
            <div class="culturalrelic_error"></div>
        </div>
    </div>
</section>
<footer>
    <div class="contain_div">
        <div class="footer_div">
            <div>
                <label>网站访问量</label> <ul class="view_amount_ul"></ul>
            </div>
            <p>联系电话：010-56528600 | 中国北京市东风路50号</p>
            <p>COPYRIGHT © 2018 数字文物.ALL RIGHTS 京 ICP 备05067311号-1</p>
        </div>
    </div>
</footer>

<script src="../../static/js/common/jquery.min.js"></script>
<script src="../../static/js/common/bootstrap.min.js"></script>
<script src="../../static/js/common/bootstrap-select-mobile.js"></script>
<script src="../../static/js/common/jquery.scrollUp.min.js"></script>
<script src="../../static/js/common/ajax.js"></script>
<script src="../../static/js/common/common.js"></script>
<script src="../../static/js/mobile/common.js"></script>

<script src="../../static/js/mobile/index.js"></script>
</body>
</html>